In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list of 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
    
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [3]:
import pandas as pd

# Create a dictionary with the data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans. n Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns, similar to a table in
a relational database or an Excel spreadsheet. Each column in a DataFrame can be of a different data type, such as float, int, or string.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type. The data can be labeled 
with an index, which can be of any type, such as integers or strings.

The main difference between a Pandas Series and a DataFrame is that a Series represents a single column of data, while a DataFrame
represents multiple columns of data.

In [ ]:
import pandas as pd

# Create a Pandas Series with some data
s = pd.Series([10, 20, 30, 40, 50])

# Create a Pandas DataFrame with two columns
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Print the Series and DataFrame
print(s)
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans. Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some of the most commonly used functions:

head() - Returns the first n rows of the DataFrame. Useful for quickly checking the structure of the DataFrame.

tail() - Returns the last n rows of the DataFrame.

describe() - Generates descriptive statistics for the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.

info() - Provides information about the DataFrame, such as the data types of each column and the number of non-null values.

sort_values() - Sorts the DataFrame by one or more columns.

groupby() - Groups the DataFrame by one or more columns, allowing you to perform operations on each group.

drop() - Removes one or more columns or rows from the DataFrame.

fillna() - Fills in missing values in the DataFrame with a specified value.

apply() - Applies a function to each column or row in the DataFrame.

pivot_table() - Creates a pivot table based on the data in the DataFrame.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans. Series and DataFrame are mutable in nature, whereas Panel is deprecated since pandas version 1.0.0 and is 
no longer recommended for use.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans. We can create a DataFrame using multiple Series by passing them as a dictionary to the DataFrame constructor. Each Series will become a column in the resulting DataFrame, and the index of the DataFrame
will be the union of the indices of the input Series.

In [7]:
import pandas as pd

# create a series for each column
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a dictionary with keys as column names and values as series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female